@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="home-features clearfix">
    <div class="container">
        <div>
            <div class="slogan-section clearfix">
                <h1><span>About Dental Clinic</span></h1>
            </div>
            <p>We are committed to offering quality dental care for the whole family. Whether you are in need of cosmetic dentistry, restorative work, or a <a href="https://dentistsclinic.com.au/locations/melbourne-cbd/dentist-checkup-special.html">regular dental checkup</a>, you are in good hands with our friendly, skilled dental technicians and qualified dentists.</p><br>
        </div>
    </div>
</div>

<div class="home-features clearfix">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-12 ">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 single-feature">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-3 icon-wrapper">
								<i class="fa fa-plus-square"></i>
							</div>
							<div class="col-lg-9 col-md-9 col-sm-9">
								<h3>Comprehensive Care</h3>
								<p>Our dentists provide complete dental care from Family Dentistry and Preventive Dental Care to more complex Cosmetic treatments.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 single-feature">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-3 icon-wrapper">
								<i class="fa fa-plus-square"></i>
							</div>
							<div class="col-lg-9 col-md-9 col-sm-9">
								<h3>We Open 7 Days a Week</h3>
								<p>We understand that our patients live a busy lifestyle. That is why we are open early and late weekdays, weekends and public holidays.</p>
							</div>
						</div>
					</div>
					<div class="visible-lg clearfix"></div>
					<div class="visible-md clearfix"></div>
					<div class="visible-sm clearfix"></div>
					<div class="col-lg-6 col-md-6 col-sm-6 single-feature">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-3 icon-wrapper">
								<i class="fa fa-plus-square"></i>
							</div>
							<div class="col-lg-9 col-md-9 col-sm-9">
								<h3>We are Your Local Dentist</h3>
								<p>We are the fastest growing dental clinic practice in Australia. There is a very good chance that a dental clinic is very close.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 single-feature">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-3 icon-wrapper">
								<i class="fa fa-plus-square"></i>
							</div>
							<div class="col-lg-9 col-md-9 col-sm-9">
								<h3>Affordable Dental Care</h3>
								<p>Without sacrificing quality we provide affordable dentistry. We always provide a written treatment plan with transparent fees.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

					<br />
					<br />
					<br />