@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="about-section">
  <h1>Help </h1>
  <p>A development team is a group of people who work together to develop a piece of software, product, or service from initial ideation to completion. While many people use the term as short-hand to refer to a software development team (which develops software), a project development team can actually be any team focused on developing a particular project, whether it be constructing a building or manufacturing a new toy. </p>
  <p>Contact Us:</p>
</div>

<h2 style="text-align:center" class="bg-primary text-white p-2 ">Our Team</h2>

<div class="card-deck">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Manar Omar</h5>
            <p class="card-text">Developers, also known as software developers or computer programmers, are responsible for developing, coding, installing, and maintaining software systems. Developers form a key part of the IT team and may be required to modify existing software products or develop entirely new resources.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Menna-Allah Mahfouz</h5>
            <p class="card-text">Developers, also known as software developers or computer programmers, are responsible for developing, coding, installing, and maintaining software systems. Developers form a key part of the IT team and may be required to modify existing software products or develop entirely new resources..</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Amnna Jaber</h5>
            <p class="card-text">Developers, also known as software developers or computer programmers, are responsible for developing, coding, installing, and maintaining software systems. Developers form a key part of the IT team and may be required to modify existing software products or develop entirely new resources.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Fatma Ashraf</h5>
            <p class="card-text">Developers, also known as software developers or computer programmers, are responsible for developing, coding, installing, and maintaining software systems. Developers form a key part of the IT team and may be required to modify existing software products or develop entirely new resources.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Mohammed Yahya</h5>
            <p class="card-text">Developers, also known as software developers or computer programmers, are responsible for developing, coding, installing, and maintaining software systems. Developers form a key part of the IT team and may be required to modify existing software products or develop entirely new resources.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
</div>