@model DentalClinicProject.ViewModels.EmployeeVM

@{
    ViewData["Title"] = "Createemployee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page Heading -->
<h3 class="bg-primary text-white p-2 ">Create Employee:</h3>
<hr />

        <form asp-action="Createemployee">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-row">
        <div class="form-group col-md-6">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        <div class="form-group col-md-6">
            <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
         </div>
    <div class="form-row">

        <div class="form-group col-md-6">
            <label asp-for="Role" class="control-label"></label>
                <input asp-for="Role" class="form-control" />
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
        <div class="form-group col-md-6">
            <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
        <div class="form-group col-md-6">
            <label asp-for="Addreess" class="control-label"></label>
                <input asp-for="Addreess" class="form-control" />
                <span asp-validation-for="Addreess" class="text-danger"></span>
            </div>
    </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>


<div>
    <a asp-action="Index"
       class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm"> Back to list</a>
</div>
<br />
<br />
<br />

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@

@section ScriptRegion{
    <script src="~/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


}