@model DentalClinicProject.ViewModels.InvoicesVM

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Page Heading -->
<h3 class="bg-primary text-white p-2 ">تعديل بيانات الفاتورة @Model.Status</h3>
<hr />

<form asp-action="Edit" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label for="dentalOperationsComboBox" class="control-label">Select a Dental Operation:</label>
        <select id="dentalOperationsComboBox" class="form-control" asp-for="Status">
            <option value="0" selected>Choose an Operation</option>
            <option>Dental Checkup</option>
            <option>Teeth Cleaning (Dental Prophylaxis)</option>
            <option>Dental Fillings</option>
            <option>Tooth Extraction</option>
            <option>Root Canal Treatment</option>
            <option>Dental Crowns and Bridges</option>
            <option>Dental Implants</option>
            <option>Dentures</option>
            <option>Teeth Whitening</option>
            <option>Dental Veneers</option>
            <option>Gum Disease Treatment</option>
            <option>Orthodontic Treatment</option>
            <option>Oral Surgery</option>
        </select>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Amount" class="control-label"></label>
            <input asp-for="Amount" class="form-control" id="amountInput" readonly />
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="inviocDate" class="control-label"></label>
            <input asp-for="inviocDate" class="form-control" />
            <span asp-validation-for="inviocDate" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>


<div>
    <a asp-action="Index"
       class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm"> Back to list</a>
</div>
<br />
<br />
<br />
@section ScriptRegion{
    <script src="~/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script>
        // Map selected options to corresponding values
        function mapSelectedOptionToValue(selectedOption) {
            switch (selectedOption) {
                case "Oral Surgery":
                    return 800;
                case "Orthodontic Treatment":
                    return 550;
                case "Gum Disease Treatment":
                    return 400;
                case "Dental Veneers":
                    return 350;

                case "Teeth Whitening":
                    return 200;
                case "Dentures":
                    return 250;
                case "Dental Implants":
                    return 450;
                case "Dental Crowns and Bridges":
                    return 600;
                case "Root Canal Treatment":
                    return 380;
                case "Tooth Extraction":
                    return 430;
                case "Dental Fillings":
                    return 280;
                case "Teeth Cleaning (Dental Prophylaxis)":
                    return 650;
                case "Dental Checkup":
                    return 150;

                // Add other cases for each option
                default:
                    return 0; // Default value when no option is selected
            }
        }

        // Handle the selected dental operation
        document.getElementById('dentalOperationsComboBox').addEventListener('change', function () {
            var selectedOption = this.value;
            var mappedValue = mapSelectedOptionToValue(selectedOption);
            document.getElementById('amountInput').value = mappedValue;
        });
    </script>
}



